*{
    padding: 0;
    margin: 0;
}

.masthead{
    color: orange;
    font-family: 'Slabo 27px', serif;
    padding: 5px;
    
}

.wrapper{
    padding: 25px;
    
}

label{
    color: white;
    
}

form{
    
    
}

input{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    height: 25px;
    font-size: 17px;

}

@media screen and (max-width: 890px) and (min-width: 570px){
    .wrapper{
    background-color: ;
    -webkit-column-count: 2;
    }
    
    label{
        color: orange;
        
    }
    
    form{
        width:100%;
    }
    .box{
        display: block;
        width: 1000px;
        
    }
    
}

@media screen and (min-width: 890px){
    .wrapper{
    background-color: ;
    }
    
    label{
        color: orange;
        
    }
    
    
}